# Local Database & Private Assets
.env
users.json
trade_track.json
neuro_track_master.json
users.csv

# PyInstaller & Compiler Cache Clutter
__pycache__/
build/
dist/
*.spec

# Other Project Files (Keeping this repo strictly for TradeTrack)
brewadose.py
hellocoffee.py
main.py
coffee_cup.png
wheel.png